@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap");
@import '/src/assets/scss/index.css';

.newsTop {

    background-color: #F0EFE9;
    background-image: url('/src/assets/images/image-linestwo.svg');
    background-repeat: no-repeat;
    background-position: -2% 102%;

    @media (max-width: 576px) {
        background-image: none;
    }
    @media (max-width: 768px) {
        background-image: none;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
            
        
        
        .content {
            text-align: center;
            padding-top: 6rem;
            padding-bottom: 6rem;

            
            a {
                font-size: 16px;
                font-weight: 300;
                color: #191919;
                text-decoration: none;

                margin-right: 0px;
                display: block;
                margin-bottom: 20px;

                @media (min-width: 768px) {
                    display: inline-block;
                    margin-right: 10px;
                    
                }

                @media (max-width: 576px) {
                    width: 250px;
                    margin-left: 3.5rem;
                }

                &:hover {
                    color: rgb(218, 16, 167);
                    text-decoration: underline;
                    animation: btn-round 0.5s infinite;
                    animation-timing-function: linear;
                }

                &.active {
                    font-weight: 500;
                }
            }
        
        
            h1 {
                font-family: 'DM Sans', sans-serif;
                font-weight: 700;
                font-size: 56px;

                @media (min-width: 768px) {
                    font-size: 56px;
                }


                @media (min-width: 1200px) {
                    font-size: 70px;
                }    
                
            }
        }

    }
}

.articles {
    padding-top: 6rem;

    @media (max-width: 576px) {
        border-top: 1px solid #D1D1D1;
        padding-top: 2rem;
        
    }

    .container {
        .section-title {

            @media (max-width: 768px) {
                display: flex;
                flex-direction: column;
                text-align: center;
                margin-bottom: 2rem;

                h2 {
                    font-size: 30px;
                }
            }

            @media (max-width: 992px) {
                display: flex;
                flex-direction: column;
                text-align: center;
                margin-bottom: 2rem;

                h2 {
                    font-size: 30px;
                }
            }

            @media (max-width: 576px) {
                display: flex;
                flex-direction: column;
                text-align: center;
                margin-bottom: 2rem;
                
                

                h2 {
                    display: flex;
                    font-size: 30px;
                    flex-direction: column;
                    align-items: center;
                    
                }

                a {
                    margin-top: 2rem;
                }



            }

            
           h2 {
            display: flex;
            justify-content: space-between;
            font-family: 'DM Sans', sans-serif;

            margin-top: 37px;
            
           }
            
        }


        .article-grid {
            padding-top: 2rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;

            @media (max-width: 576px) {
                display: grid;
                grid-template-columns: 1fr;
            }

            @media (max-width: 768px) {
                grid-template-columns: 1fr;
               
            }

            @media (max-width: 992px) {
                grid-template-columns: 1fr;
                
                
            }

            .article {
                color: #191919;
                text-decoration: none;
                
                
                &:hover {
                    text-decoration: underline;
                    transform: scale(1.02);
                    transition: all ease 500ms;
                }
                img {
                    width: 100%;
                    height: 50%;
                    object-fit: cover;
                }

                @media (max-width: 576px) {
                    
                    img {
                        width: 100%;
                    }
                }

                @media (max-width: 768px) {
                    img {
                        width: 100%;
                    }
                }

                @media (max-width: 992px) {
                    img {
                        width: 100%;
                    }
                }

            }
            

            h3 {
                font-family: 'DM Sans', sans-serif;
                font-size: 22px;
                font-weight: 700;
                max-width: 310px;

                @media (max-width: 576px) {
                    font-size: 20px;
                }

            }
        }

    }
}